html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
  background: linear-gradient(to right, #ff512f, hsl(35, 88%, 52%)); 
}

body {
  max-width: 700px;
  margin: 0 auto;
}

input {
  padding-top: 10px;
  width: 550px;
  height: 70px;
  font-size: 50px;
  border: 0;
  text-align: left;
}

input:focus {
  outline: none;
}

li {
  text-align: left;
  font-size: 40px;
  list-style: none;
  margin: 0;
  width: 500px;
  color: white;
}

li:hover {
  text-decoration: line-through;
}